.top-bar {
    border-bottom: 5px solid black;
    padding: 20px 20px 0px 20px;
}

.notella-logo{
    max-width: 30%;
}

.header-search-box{
	padding-top: 10px;
    width: 30%;
}

.main-stuff{
	padding: 20px;
    min-height: 110%;
    background: linear-gradient(white, #d3d3d3);
    border-top: 5px solid #e20c14;
}

div.video-player{
    max-width: 45%;
    float: right;
    margin: 20px;
}

.link-list-container {
    max-width: 45%;
    float: left;
}

li{
    list-style: none;
    padding: 5px 0px 5px 0px;
}

.link-list-container h3{
    padding: 10px;
}

.link-description{
    font-style: italic;
}

input[type=text] {
    width: 75%;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
}

input[type=submit] {
    width: 25%;
    height: 30px;
    float: right;
    border-radius: 0px 5px 5px 0px;
    background-color: #e20c14;
    color: black;
    font-weight: bolder;
}

a, a:visited, a:active, a:link{
    color: #bd1219; 
    font-weight: bold;
}

a:hover{
    color: #bd1219;
}
