<html>
    <head>
    {% load static %}
    {% include "styles.html" %}
	</head>
    <body>
        <div class="top-bar">
            {% include "notella_header.html" %}
        </div>
        <div class="main-stuff">
            <h3>Recommendations for <b>Cacau al rei</b></h3>
            <iframe src="https://open.spotify.com/embed/user/chromaeleon/playlist/45EEsaduwaGPd0zIymoxQy" width="500" height="480" frameborder="0" allowtransparency="true"></iframe>
            </br>
            :)
        </div>
    </body>
</html>
