<html>
    <head>
    {% load static %}
    {% include "styles.html" %}
	</head>
    <body>
        <div class="top-bar">
            {% include "notella_header.html" %}
        </div>
        <div class="main-stuff">
            {% if query %}
            <div class="song-list">
                {% if song_list %}
                    <ul>
                    {% for song in song_list %}
                    <li><a href="{% url 'song' song.mbid %}">{{ song }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No songs are available.</p>
                {% endif %}
            </div>
            {% else %}
            <p>Please enter a song title to search for.</p>
            {% endif %}
        </div>
    </body>
</html>
